.container{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 0.5rem;
    border-radius: 2px;
    margin-bottom: 1rem;
    transition: all 500ms;


        .container__data{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            text-decoration: none;

            .container__data_image{
                width: 100%;
                position: relative;
                img{
                    width: 100%;

                    pointer-events: none;
                }
                .container__extra{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    position: absolute;
                    padding: 0.5rem;
                    top: 0;
                    p{
                        padding: 5px 10px;
                        color: white;
                        border-radius: 2px;
                    }
            
                    .container__extra_type{
                        background-color: blue;
                    }
            
                    .container__extra_year{
                        background-color: red;
                        margin-left: 1rem;
                    }
                }
            }
    
            .container__data_title{
                display: flex;
                
                flex-direction: column;
                padding: 0.3rem;
                width: 100%;

                .container__data_readmore{
                    font-family: lucida sans;
                    width: 100%;
                    word-break: break-all;
                    border: none;
                    font-size: 1rem;
                    cursor: pointer;
                    transition: all 1s;
                    font-family: lucida sans;
                    text-decoration: none;
                    color: black;
                    text-align: start;
                }

                
            }
        }
        
       .container__star{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        svg{
            font-size: 1.5rem;
            cursor: pointer;
        }
       } 
}

@media screen and (max-width: 968px){
    .container{
        width: 100%;

        .container__data{
            display: flex;
            flex-direction: row;
            justify-items: flex-start;
            align-items: flex-start;
            .container__data_image{
                width: 290px;
            }

            .container__data_title{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                margin-left: 0.5rem;
            }
        }
        .container__extra{
            width: 60%;
        }
    }
}